.card {
  background-color: #00d9ff9c;
  width: 80%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.3s ease-out;
  cursor: pointer;
  box-shadow: rgb(243, 243, 243) 1px 1px 30px 1px;
}

.card .boton {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 5px;
}

.card .boton .close_card {
  width: 20px;
  height: 20px;
  background-color: red;
  border: none;
  border-radius: 20%;
  cursor: pointer;
}

.card .boton .close_card:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.05);
  transition: 0.3s ease-out;
}

.card img {
  width: 100%;
}

.name_character {
  padding: 2%;
  display: flex;
  place-content: center;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px;
}

.fav {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
}

.fav:hover {
  transform: scale(1.5);
}

.idCard {
  color: black;
  background-color: rgba(255, 255, 255, 0.671);
  padding: 1px;
  width: 50px;
  text-align: center;
  border-radius: 5px;
}
