.detail {
  display: grid;
  place-content: center;
  place-items: center;
  margin: 80px 10px;
  background-color: rgba(175, 221, 221, 0.84);
  padding: 50px;
  border-radius: 20px;
  box-shadow: #38cff87e 0 10px 40px 1px;
}

.img {
  flex-grow: 0.5;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 10px;
}

.img img {
  border-radius: 100%;
  max-width: 100%;
  border: solid 10px;
}

.characteristics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  place-content: center;
  text-align: center;
  flex-grow: 0.5;
}

.characteristics h1 {
  font-family: cursive;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-size: 50px;
}

.characteristics h2 span {
  color: #000000;
}

.characteristics h2 {
  color: #005b71;
}

.imageRick {
  flex-grow: 0.5;
}
